<h1 class="page-title">Tic Tac Toe</h1>

<h2 class="description">Play a game of tic tac toe! You can play against a random opponent, or log in to play with a friend!</h2>

<div class="container">
    <img src="./images/tic-tac-toe-x.png">
    <img src="./images/tic-tac-toe-o.png">
</div>
<button id="join-button" class="btn">Random Opponent</button>

<script src="/js/homePage.js"></script>
