<h1>Welcome to Tic-Tac-Too Games</h1>

<section class="container" id="games-preview">
    <div class="game-preview" id="ttt-preview">
        {{!-- an image preiview here --}}
        <p> Tic Tac Toe </p>
    </div>

    <div class="game-preview" id="chess-preview">
        {{!-- an image preiview here --}}
        <p> Chess </p>
    </div>

</section>

<script src="/js/homePage.js"></script>