<h1 class="page-title">Tic Tac Toe</h1>

<h2 class="description">Play a game of tic tac toe! You can host a random opponent, join a random game, or play with a friend!</h2>

<div class="container">
    <img src="./images/tic-tac-toe-x.png">
    <button class="btn">Host Random Opponent</button>
</div>

<div class="container">
    <img src="./images/tic-tac-toe-o.png">
    <button class="btn">Join Random Game</button>
</div>

<script src="/js/homePage.js"></script>
