<h1 id="announcements">Waiting For Other Player</h1>
<div id="board-holder">
    <img id="board" src="/images/board.svg">
    <div id="space-holder-holder">
        <div class="space-holder">
            <button data-x="0" data-y="0" class="space"><img src="/images/blank.svg"></button>
            <button data-x="1" data-y="0" class="space"><img src="/images/blank.svg"></button>
            <button data-x="2" data-y="0" class="space"><img src="/images/blank.svg"></button>
        </div>
            <div class="space-holder">
            <button data-x="0" data-y="1" class="space"><img src="/images/blank.svg"></button>
            <button data-x="1" data-y="1" class="space"><img src="/images/blank.svg"></button>
            <button data-x="2" data-y="1" class="space"><img src="/images/blank.svg"></button>
        </div>
            <div class="space-holder">
            <button data-x="0" data-y="2" class="space"><img src="/images/blank.svg"></button>
            <button data-x="1" data-y="2" class="space"><img src="/images/blank.svg"></button>
            <button data-x="2" data-y="2" class="space"><img src="/images/blank.svg"></button>
        </div>
    </div>
</div>

<button id="ready-button">Ready</button>

<script>const uuid = "{{uuid}}";</script>
<script src="/js/ticTacToeFunctions.js"></script>
<script src="/js/webSocketClient.js"></script>