.friend-holder{
    width: 80%;
    display: flex;
    margin: 0.5em auto;
    background-color: var(--main);
    color: var(--secondary);
    padding: 0.5em;
}

.friend-holder h1{
    flex-basis: 30%;
    text-align: center;
}

.friend-holder button{
    flex-basis: 30%;
}

.wins-losses{
    flex-basis: 30%;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.wins-losses p{
    margin: auto 0.1em;
}

.new-game-button{
    background-color: var(--secondary);
    color: var(--main);
    border: none;
    margin: 0.3em auto;
    font-size: 2em;
    font-family: inherit;
}

.new-game-button:hover{
    cursor: pointer;
    background-color:var(--highlight);
}



#friend-name {
    width: 150px;
    height: 20px;
    float: right;
    margin-left: 10px;
    background-color: var(--secondary);
    color: var(--main);
}

#add-btn {
    height: 26px;
    float: right;
    margin-left: 10px;
    background-color: var(--secondary);
    color: var(--main);
}

#add-btn:hover {
    background-color: var(--highlight);
}