<h1 id="announcements">Press Ready</h1>
<div class="bg-zinc-900">
    <div class="board"> 

        <div class ="spaces" id="a8">a8</div>
        <div class ="darker spaces" id="b8">b8</div>
        <div class ="spaces" id="c8">c8</div>
        <div class ="darker spaces" id="d8">d8</div>
        <div class ="spaces" id="e8">e8</div>
        <div class ="darker spaces" id="f8">f8</div>
        <div class ="spaces" id="g8">g8</div>
        <div class ="darker spaces" id="h8">h8</div>
        
        <div class ="darker spaces" id="a7">a7</div>
        <div class ="spaces" id="b7">b7</div>
        <div class ="darker spaces" id="c7">c7</div>
        <div class ="spaces" id="d7">d7</div>
        <div class ="darker spaces" id="e7">e7</div>
        <div class ="spaces" id="f7">f7</div>
        <div class ="darker spaces" id="g7">g7</div>
        <div class ="spaces" id="h7">h7</div>
        
        <div class ="spaces" id="a6">a6</div>
        <div class ="darker spaces" id="b6">b6</div>
        <div class ="spaces" id="c6">c6</div>
        <div class ="darker spaces" id="d6">d6</div>
        <div class ="spaces" id="e6">e6</div>
        <div class ="darker spaces" id="f6">f6</div>
        <div class ="spaces" id="g6">g6</div>
        <div class ="darker spaces" id="h6">h6</div>

        <div class ="darker spaces" id="a5">a5</div>
        <div class ="spaces" id="b5">b5</div>
        <div class ="darker spaces" id="c5">c5</div>
        <div class ="spaces" id="d5">d5</div>
        <div class ="darker spaces" id="e5">e5</div>
        <div class ="spaces" id="f5">f5</div>
        <div class ="darker spaces" id="g5">g5</div>
        <div class ="spaces" id="h5">h5</div>

        <div class ="spaces" id="a4">a4</div>
        <div class ="darker spaces" id="b4">b4</div>
        <div class ="spaces" id="c4">c4</div>
        <div class ="darker spaces" id="d4">d4</div>
        <div class ="spaces" id="e4">e4</div>
        <div class ="darker spaces" id="f4">f4</div>
        <div class ="spaces" id="g4">g4</div>
        <div class ="darker spaces" id="h4">h4</div>

        <div class ="darker spaces" id="a3">a3</div>
        <div class ="spaces" id="b3">b3</div>
        <div class ="darker spaces" id="c3">c3</div>
        <div class ="spaces" id="d3">d3</div>
        <div class ="darker spaces" id="e3">e3</div>
        <div class ="spaces" id="f3">f3</div>
        <div class ="darker spaces" id="g3">g3</div>
        <div class ="spaces" id="h3">h3</div>
       
        <div class ="spaces" id="a2">a2</div>
        <div class ="darker spaces" id="b2">b2</div>
        <div class ="spaces" id="c2">c2</div>
        <div class ="darker spaces" id="d2">d2</div>
        <div class ="spaces" id="e2">e2</div>
        <div class ="darker spaces" id="f2">f2</div>
        <div class ="spaces" id="g2">g2</div>
        <div class ="darker spaces" id="h2">h2</div>
       
        <div class ="darker spaces" id="a1">a1</div>
        <div class ="spaces" id="b1">b1</div>
        <div class ="darker spaces" id="c1">c1</div>
        <div class ="spaces" id="d1">d1</div>
        <div class ="darker spaces" id="e1">e1</div>
        <div class ="spaces" id="f1">f1</div>
        <div class ="darker spaces" id="g1">g1</div>
        <div class ="spaces" id="h1">h1</div>
       
        <div id="promotionMenu">
            <div>Promote Your Pawn</div>
            <div id="promotionContainer">
                <div id="R" class="promotionButton"><img src="../../chess/sprites/whiteRook.svg"></div>
                <div id="N" class="promotionButton"><img src="../../chess/sprites/whiteKnight.svg"></div>
                <div id="B" class="promotionButton"><img src="../../chess/sprites/whiteBishop.svg"></div>
                <div id="Q" class="promotionButton"><img src="../../chess/sprites/whiteQueen.svg"></div>  
            </div>
        </div>
    </div>

    <div id = "endGameContainer">
        <h1 id="end-game">Black Wins</h1>
        <a class="items-center justify-center flex" href="index.html">
            <button class = "font-bold bg-red-600 text-xl md:text-3xl py-4 md:py-6 w-full md:w-1/2 block mx-auto text-center rounded-2xl 
            cursor-pointer outline-none border-none mt-4 md:mt-8 hover:bg-red-700 active:bg-red-900">Home Page</button>
        </a>
    </div>  

    <div id="movingPiece">d1<img src="../../chess/sprites/blackPawn.svg"></div>

    <div id="navigator-buttons">
        <button id="revert"> Undo </button>

    </div>

    <div id="warning">Cannot Move Into Check</div>
  
    <script src="/chess/js/animate.js"></script>
    <script src="/chess/js/readFen.js"></script>
    <script src="/chess/js/move.js"></script>
    <script src="/chess/js/stockfish.js"></script>
    <script src="/chess/js/square.js"></script>
    <script src="/chess/js/findCheckAndMate.js"></script>
    <script src="/chess/js/script.js"></script>
    <script src="/chess/js/pieces.js"></script>
    <script src="/chess/js/webSocketClient.js"></script>
    <script src="/chess/js/findCheck.js"></script>

</div>