<!DOCTYPE html>

</head>

<body class="text-white bg-zinc-900 text-center">

    <header class="w-full">
        <h1 class="text-5xl md:text-7xl font-bold mt-10 mb-5"><span class="text-red-600">Not</span>Chess.com</h1>
    </header>

    <main>
        <p class="italic mb-3 md:mb-5">Game modes</p>
        <hr />
        <a class="items-center justify-center flex" href="./chess/board">
            <button
                id ="chess-traditional-btn" 
                class="font-bold bg-red-600 text-xl md:text-3xl py-4 md:py-6 w-full md:w-1/2 block mx-auto text-center rounded-2xl 
            cursor-pointer outline-none border-none mt-4 md:mt-8 hover:bg-red-700 active:bg-red-900">Traditional</button>
            <button 
                id="chess-random-btn"
                class="font-bold bg-red-600 text-xl md:text-3xl py-4 md:py-6 w-full md:w-1/2 block mx-auto text-center rounded-2xl 
            cursor-pointer outline-none border-none mt-4 md:mt-8 hover:bg-red-700 active:bg-red-900">Random opponent</button>
        </a>
    </main>

    <footer class="fixed bottom-0 left-0 w-full text-white text-center">
        <p class="text-sm md:text-base"></p>
    </footer>

    <script src="/chess/js/index.js"></script>

</body>

</html>